Repository mishka251/stalker_op22_cyclic_quest_wiki: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, pyupgrade, isort, black, djlint-reformat-django, flake8, mypy, pylint, djlint-django

.pre-commit-config.yaml:

default_language_version:
    python: python3.12
fail_fast: false

repos:
  - repo: local
    hooks:
#       удалить неиспользуемые импорты
      - id: autoflake
        name: autoflake
        entry: autoflake
        language: system
        types: [python]
        args: [--in-place, --remove-all-unused-imports, --remove-duplicate-keys, --ignore-init-module-imports]

#Проставить аннотации типов с none
      - id: no_implicit_optional
        name: no_implicit_optional
        description: "A codemod to make your implicit optional type hints PEP 484 compliant"
        entry: no_implicit_optional
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [python, pyi]

#       обновить устаревший синтаксис
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py312-plus]

        # ruff форматирование
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff check --force-exclude
        language: python
        types_or: [python, pyi]
        args: [--fix]
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"


#       поменять порядок импортов на правильный
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        args: [--filter-files]


#       форматтер
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: [
            --safe,
            --target-version=py312
        ]

#       форматтер шаблонов
      - id: djlint-reformat-django
        name: djLint formatting for Django
        entry: djlint --reformat --profile=django
        types_or: [html]
        language: python

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        args: []

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: [
            --config-file=mypy.ini,
            --scripts-are-modules
        ]

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff check --force-exclude
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
            "--rcfile=.pylintrc", # Link to your config file
          ]

      - id: djlint-django
        name: djLint linting for Django
        entry: djlint --profile=django
        types_or: [html]
        language: python

#46 - оптимизация формы квестодателей
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/vendors_list.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

#46 - оптимизация формы квестов
  stalker_op22_cyclic_quest_wiki/models/cycle_tasks/cycle_task.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/tasks_grouping.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/vendor_quests.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

#46 - оптимизация формы квестов
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/vendor_quests.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

46 optimize requests (#47)
  stalker_op22_cyclic_quest_wiki/models/cycle_tasks/cycle_task.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/tasks_grouping.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/vendor_quests.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/vendors_list.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

#44 - иконка сайта
  stalker_op22_cyclic_quest_wiki/static/icons/op_2_2.ico
  stalker_op22_cyclic_quest_wiki/templates/wiki/base.html
Due: djlint-reformat-django, djlint-django

#44 - иконка сайта (#48)
  stalker_op22_cyclic_quest_wiki/static/icons/op_2_2.ico
  stalker_op22_cyclic_quest_wiki/templates/wiki/base.html
Due: djlint-reformat-django, djlint-django

#44 - карта сайта
  stalker_op22_cyclic_quest_wiki/sitemap.py
  stalker_op22_cyclic_quest_wiki_proj/settings.py
  stalker_op22_cyclic_quest_wiki_proj/urls.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

#44 - robots.txt и иконка для nginx-а
  deploy/nginx/Dockerfile
  deploy/nginx/favicon.ico
  deploy/nginx/robots.txt
  deploy/nginx/stalker_op22_cyclic_quest_wiki.conf
Due: none

#44 - метатеги
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/vendor_quests.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/vendors_list.py
  stalker_op22_cyclic_quest_wiki/views/index.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

#44 - метатеги для проверки
  stalker_op22_cyclic_quest_wiki/templates/wiki/base.html
Due: djlint-reformat-django, djlint-django

45 SEO (#49)
  deploy/nginx/Dockerfile
  deploy/nginx/favicon.ico
  deploy/nginx/robots.txt
  deploy/nginx/stalker_op22_cyclic_quest_wiki.conf
  stalker_op22_cyclic_quest_wiki/sitemap.py
  stalker_op22_cyclic_quest_wiki/templates/wiki/base.html
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/vendor_quests.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/vendors_list.py
  stalker_op22_cyclic_quest_wiki/views/index.py
  stalker_op22_cyclic_quest_wiki_proj/settings.py
  stalker_op22_cyclic_quest_wiki_proj/urls.py
Due: autoflake, pyupgrade, isort, black, djlint-reformat-django, flake8, mypy, pylint, djlint-django

Sentry для клиента
  stalker_op22_cyclic_quest_wiki/context_processors.py
  stalker_op22_cyclic_quest_wiki/templates/wiki/base.html
  stalker_op22_cyclic_quest_wiki_proj/settings.py
Due: autoflake, pyupgrade, isort, black, djlint-reformat-django, flake8, mypy, pylint, djlint-django

Sentry для клиента (#50)
  stalker_op22_cyclic_quest_wiki/context_processors.py
  stalker_op22_cyclic_quest_wiki/templates/wiki/base.html
  stalker_op22_cyclic_quest_wiki_proj/settings.py
Due: autoflake, pyupgrade, isort, black, djlint-reformat-django, flake8, mypy, pylint, djlint-django

Правки для версии 0.3.0
  deploy/.env.template
  deploy/build.ps1
  deploy/docker-compose.yml
  deploy/host_nginx/stalker_op22_cyclic_quest_wiki.conf
Due: none

Правки для версии 0.3.0 (#51)
  deploy/.env.template
  deploy/build.ps1
  deploy/docker-compose.yml
  deploy/host_nginx/stalker_op22_cyclic_quest_wiki.conf
Due: none

Правки парсинга
  game_parser/logic/ltx_parser.py
  game_parser/logic/model_xml_loaders/dialog.py
  game_parser/logic/model_xml_loaders/storyline_character.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

Правки полного парсинга
  game_parser/logic/gsc_xml_fixer.py
  game_parser/management/commands/fill_items_icons.py
  game_parser/management/commands/fill_random_reward_icons.py
  game_parser/management/commands/load_full_db.py
  game_parser/management/commands/parse_game_tasks.py
  game_parser/management/commands/parse_spawn.py
  game_parser/management/commands/parse_spawn_camps.py
  game_parser/management/commands/parse_spawn_stalkers.py
  game_parser/management/commands/parse_trade.py
  game_parser/migrations/0002_alter_recept_anomaly_id_alter_recept_unique_together.py
  game_parser/migrations/0003_alter_recept_unique_together.py
  game_parser/models/recepti.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

Правки конфига ruff
  .ruff.toml
Due: none

Правка shebang
  manage.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

#52 список предметов - первая версия
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/item_raw.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/items_list.html
  stalker_op22_cyclic_quest_wiki/urls.py
  stalker_op22_cyclic_quest_wiki/views/items/__init__.py
  stalker_op22_cyclic_quest_wiki/views/items/list.py
Due: autoflake, pyupgrade, isort, black, djlint-reformat-django, flake8, mypy, pylint, djlint-django

#52 поиск использования/получения предметов - первая версия
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/item_raw.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/where_find.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/where_needed.html
  stalker_op22_cyclic_quest_wiki/urls.py
  stalker_op22_cyclic_quest_wiki/views/items/where_find_item.py
  stalker_op22_cyclic_quest_wiki/views/items/where_item_needed.py
Due: autoflake, pyupgrade, isort, black, djlint-reformat-django, flake8, mypy, pylint, djlint-django

#52 мелкие правки
  stalker_op22_cyclic_quest_wiki/templates/wiki/base.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/item_raw.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/items_list.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/where_find.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/where_needed.html
Due: djlint-reformat-django, djlint-django

Ускорение импорта данных
  stalker_op22_cyclic_quest_wiki/resources/base/base_item.py
  stalker_op22_cyclic_quest_wiki/resources/base/icon.py
  stalker_op22_cyclic_quest_wiki/resources/base/map_position.py
  stalker_op22_cyclic_quest_wiki/resources/base/translation.py
  stalker_op22_cyclic_quest_wiki/resources/cycle_tasks/cycle_task.py
  stalker_op22_cyclic_quest_wiki/resources/cycle_tasks/reward.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

Ускорение импорта данных (#55)
  stalker_op22_cyclic_quest_wiki/resources/base/base_item.py
  stalker_op22_cyclic_quest_wiki/resources/base/icon.py
  stalker_op22_cyclic_quest_wiki/resources/base/map_position.py
  stalker_op22_cyclic_quest_wiki/resources/base/translation.py
  stalker_op22_cyclic_quest_wiki/resources/cycle_tasks/cycle_task.py
  stalker_op22_cyclic_quest_wiki/resources/cycle_tasks/reward.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

52 items list (#54)
  stalker_op22_cyclic_quest_wiki/templates/wiki/base.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/item_raw.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/items_list.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/where_find.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/where_needed.html
  stalker_op22_cyclic_quest_wiki/urls.py
  stalker_op22_cyclic_quest_wiki/views/items/__init__.py
  stalker_op22_cyclic_quest_wiki/views/items/list.py
  stalker_op22_cyclic_quest_wiki/views/items/where_find_item.py
  stalker_op22_cyclic_quest_wiki/views/items/where_item_needed.py
Due: autoflake, pyupgrade, isort, black, djlint-reformat-django, flake8, mypy, pylint, djlint-django

Улучшил состояние для поиска предметов и квестов
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/where_needed.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/vendor_quests_list/target/item_with_state_target.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/widgets/condition.html
  stalker_op22_cyclic_quest_wiki/templatetags/condition.py
  stalker_op22_cyclic_quest_wiki/templatetags/tasks.py
  stalker_op22_cyclic_quest_wiki/utils/__init__.py
  stalker_op22_cyclic_quest_wiki/utils/condition.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/tasks_grouping.py
  stalker_op22_cyclic_quest_wiki/views/items/where_item_needed.py
Due: autoflake, pyupgrade, isort, black, djlint-reformat-django, flake8, mypy, pylint, djlint-django

Улучшил состояние для поиска предметов и квестов (#56)
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/where_needed.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/vendor_quests_list/target/item_with_state_target.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/widgets/condition.html
  stalker_op22_cyclic_quest_wiki/templatetags/condition.py
  stalker_op22_cyclic_quest_wiki/templatetags/tasks.py
  stalker_op22_cyclic_quest_wiki/utils/__init__.py
  stalker_op22_cyclic_quest_wiki/utils/condition.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/tasks_grouping.py
  stalker_op22_cyclic_quest_wiki/views/items/where_item_needed.py
Due: autoflake, pyupgrade, isort, black, djlint-reformat-django, flake8, mypy, pylint, djlint-django

#31 Координаты для части квестодателей
  game_parser/admin/cycle_tasks_vendors.py
  game_parser/management/commands/fill_location_maps.py
  game_parser/management/commands/load_full_db.py
  game_parser/models/cycle_task_vendors.py
  game_parser/templates/admin/game_parser/cycletaskvendor/change_list.html
Due: autoflake, pyupgrade, isort, black, djlint-reformat-django, flake8, mypy, pylint, djlint-django

#31 Координаты для части квестодателей
  .pre-commit-config.yaml
  game_parser/admin/__init__.py
  game_parser/admin/cycle_tasks_vendors.py
  game_parser/admin/game_story/rewards/spawn.py
  game_parser/admin/game_story/storyline_character.py
  game_parser/admin/game_vertex.py
  game_parser/admin/items/base_item_admin.py
  game_parser/admin/spawn_item.py
  game_parser/admin/utils.py
  game_parser/management/commands/fill_game_ids_spawn_sections.py
  game_parser/management/commands/fill_spawn_reward_coordinates.py
  game_parser/management/commands/fill_spawn_reward_custom_items.py
  game_parser/management/commands/fill_spawn_reward_vertexes.py
  game_parser/management/commands/load_full_db.py
  game_parser/management/commands/parse_game_vertexes.py
  game_parser/management/commands/parse_scripts_function.py
  game_parser/migrations/0004_spawnreward_custom_spawn_section.py
  game_parser/migrations/0005_gamevertex.py
  game_parser/migrations/0006_spawnreward_game_vertex_obj.py
  game_parser/migrations/0007_remove_gamevertex_location_name_gamevertex_edges_raw_and_more.py
  game_parser/migrations/0008_alter_gamevertex_options_and_more.py
  game_parser/models/__init__.py
  game_parser/models/cycle_task_vendors.py
  game_parser/models/game_story/spawn_reward.py
  game_parser/models/game_vertex.py
  game_parser/models/spawn_item.py
  game_parser/templates/admin/game_parser/change_form.html
  game_parser/templates/admin/game_parser/change_list.html
  game_parser/templates/admin/game_parser/spawnitem/change_list.html
Due: autoflake, pyupgrade, isort, black, djlint-reformat-django, flake8, mypy, pylint, djlint-django

#31 Координаты для части торговцев
  game_parser/admin/trade.py
  game_parser/management/commands/fill_custom_spawn_characters_profiles.py
  game_parser/management/commands/fill_npc_info.py
  game_parser/management/commands/parse_trade.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

#31 Правка карты и перенос
  game_parser/management/commands/move_quests_to_wiki.py
  stalker_op22_cyclic_quest_wiki/admin/base/map_position.py
  stalker_op22_cyclic_quest_wiki/models/base/map_position.py
  stalker_op22_cyclic_quest_wiki/models/cycle_tasks/vendor.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

#31 Правка карт
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/tasks_grouping.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

#31 миграция
  stalker_op22_cyclic_quest_wiki/migrations/0010_alter_mapposition_unique_together_and_more.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

#31 правка кода
  stalker_op22_cyclic_quest_wiki/models/cycle_tasks/vendor.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

31 quest givers locations (#58)
  .pre-commit-config.yaml
  game_parser/admin/__init__.py
  game_parser/admin/cycle_tasks_vendors.py
  game_parser/admin/game_story/rewards/spawn.py
  game_parser/admin/game_story/storyline_character.py
  game_parser/admin/game_vertex.py
  game_parser/admin/items/base_item_admin.py
  game_parser/admin/spawn_item.py
  game_parser/admin/trade.py
  game_parser/admin/utils.py
  game_parser/management/commands/fill_custom_spawn_characters_profiles.py
  game_parser/management/commands/fill_game_ids_spawn_sections.py
  game_parser/management/commands/fill_location_maps.py
  game_parser/management/commands/fill_npc_info.py
  game_parser/management/commands/fill_spawn_reward_coordinates.py
  game_parser/management/commands/fill_spawn_reward_custom_items.py
  game_parser/management/commands/fill_spawn_reward_vertexes.py
  game_parser/management/commands/load_full_db.py
  game_parser/management/commands/move_quests_to_wiki.py
  game_parser/management/commands/parse_game_vertexes.py
  game_parser/management/commands/parse_scripts_function.py
  game_parser/management/commands/parse_trade.py
  game_parser/migrations/0004_spawnreward_custom_spawn_section.py
  game_parser/migrations/0005_gamevertex.py
  game_parser/migrations/0006_spawnreward_game_vertex_obj.py
  game_parser/migrations/0007_remove_gamevertex_location_name_gamevertex_edges_raw_and_more.py
  game_parser/migrations/0008_alter_gamevertex_options_and_more.py
  game_parser/models/__init__.py
  game_parser/models/cycle_task_vendors.py
  game_parser/models/game_story/spawn_reward.py
  game_parser/models/game_vertex.py
  game_parser/models/spawn_item.py
  game_parser/templates/admin/game_parser/change_form.html
  game_parser/templates/admin/game_parser/change_list.html
  stalker_op22_cyclic_quest_wiki/admin/base/map_position.py
  stalker_op22_cyclic_quest_wiki/migrations/0010_alter_mapposition_unique_together_and_more.py
  stalker_op22_cyclic_quest_wiki/models/base/map_position.py
  stalker_op22_cyclic_quest_wiki/models/cycle_tasks/vendor.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/tasks_grouping.py
Due: autoflake, pyupgrade, isort, black, djlint-reformat-django, flake8, mypy, pylint, djlint-django

#31 API для прода
  stalker_op22_cyclic_quest_wiki/urls.py
  stalker_op22_cyclic_quest_wiki/utils/condition.py
  stalker_op22_cyclic_quest_wiki/views/api/__init__.py
  stalker_op22_cyclic_quest_wiki/views/api/cz.py
  stalker_op22_cyclic_quest_wiki/views/api/urls.py
  stalker_op22_cyclic_quest_wiki/views/api/vendors.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/tasks_grouping.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint
