Repository mishka251/stalker_op22_cyclic_quest_wiki: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, pyupgrade, isort, black, djlint-reformat-django, flake8, mypy, pylint, djlint-django

.pre-commit-config.yaml:

default_language_version:
    python: python3.12
fail_fast: false

repos:
  - repo: local
    hooks:
#       удалить неиспользуемые импорты
      - id: autoflake
        name: autoflake
        entry: autoflake
        language: system
        types: [python]
        args: [--in-place, --remove-all-unused-imports, --remove-duplicate-keys, --ignore-init-module-imports]

#Проставить аннотации типов с none
      - id: no_implicit_optional
        name: no_implicit_optional
        description: "A codemod to make your implicit optional type hints PEP 484 compliant"
        entry: no_implicit_optional
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [python, pyi]

#       обновить устаревший синтаксис
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py312-plus]

        # ruff форматирование
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff check --force-exclude
        language: python
        types_or: [python, pyi]
        args: [--fix]
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"


#       поменять порядок импортов на правильный
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        args: [--filter-files]


#       форматтер
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: [
            --safe,
            --target-version=py312
        ]

#       форматтер шаблонов
      - id: djlint-reformat-django
        name: djLint formatting for Django
        entry: djlint --reformat --profile=django
        types_or: [html]
        language: python

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        args: []

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: [
            --config-file=mypy.ini,
            --scripts-are-modules
        ]

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff check --force-exclude
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
            "--rcfile=.pylintrc", # Link to your config file
          ]

      - id: djlint-django
        name: djLint linting for Django
        entry: djlint --profile=django
        types_or: [html]
        language: python

#9 тесты АПи квестодателей и списка ЦЗ
  .ruff.toml
  stalker_op22_cyclic_quest_wiki/tests/__init__.py
  stalker_op22_cyclic_quest_wiki/tests/test_api/__init__.py
  stalker_op22_cyclic_quest_wiki/tests/test_api/test_vendors_list.py
  stalker_op22_cyclic_quest_wiki/tests/test_api/test_vendors_quests.py
  stalker_op22_cyclic_quest_wiki/tests/utils.py
  stalker_op22_cyclic_quest_wiki/views/api/urls.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/tasks_grouping.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

Правка обновления ruff
  game_parser/management/commands/parse_scripts_function.py
  stalker_op22_cyclic_quest_wiki/views/api/vendors.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/vendors_list.py
  stalker_op22_cyclic_quest_wiki/views/items/where_find_item.py
  stalker_op22_cyclic_quest_wiki/views/items/where_item_needed.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

Правка CI
  .github/workflows/django_test.yml
Due: none

9 quests api (#59)
  .github/workflows/django_test.yml
  .ruff.toml
  game_parser/management/commands/parse_scripts_function.py
  stalker_op22_cyclic_quest_wiki/tests/__init__.py
  stalker_op22_cyclic_quest_wiki/tests/test_api/__init__.py
  stalker_op22_cyclic_quest_wiki/tests/test_api/test_vendors_list.py
  stalker_op22_cyclic_quest_wiki/tests/test_api/test_vendors_quests.py
  stalker_op22_cyclic_quest_wiki/tests/utils.py
  stalker_op22_cyclic_quest_wiki/urls.py
  stalker_op22_cyclic_quest_wiki/utils/condition.py
  stalker_op22_cyclic_quest_wiki/views/api/__init__.py
  stalker_op22_cyclic_quest_wiki/views/api/cz.py
  stalker_op22_cyclic_quest_wiki/views/api/urls.py
  stalker_op22_cyclic_quest_wiki/views/api/vendors.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/tasks_grouping.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/vendors_list.py
  stalker_op22_cyclic_quest_wiki/views/items/where_find_item.py
  stalker_op22_cyclic_quest_wiki/views/items/where_item_needed.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

Правка точек на карте - вернул название
  game_parser/management/commands/move_quests_to_wiki.py
  stalker_op22_cyclic_quest_wiki/admin/base/map_position.py
  stalker_op22_cyclic_quest_wiki/models/base/map_position.py
  stalker_op22_cyclic_quest_wiki/resources/base/map_position.py
  stalker_op22_cyclic_quest_wiki/resources/cycle_tasks/target.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

GIT LFS для данных
  .gitattributes
  .gitignore
  data/data.zip
Due: none

данные для v0.5.0
  data/data.zip
Due: none

Обновление для v0.5.0
  data/data.zip
  deploy/.env.template
  deploy/build.ps1
  requirements.txt
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/vendors_list.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

Забытая миграция
  .pylintrc
  stalker_op22_cyclic_quest_wiki/migrations/0011_mapposition_name.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

Fix map position + v0.5.0 (#60)
  .gitattributes
  .gitignore
  .pylintrc
  data/data.zip
  deploy/.env.template
  deploy/build.ps1
  game_parser/management/commands/move_quests_to_wiki.py
  requirements.txt
  stalker_op22_cyclic_quest_wiki/admin/base/map_position.py
  stalker_op22_cyclic_quest_wiki/migrations/0011_mapposition_name.py
  stalker_op22_cyclic_quest_wiki/models/base/map_position.py
  stalker_op22_cyclic_quest_wiki/resources/base/map_position.py
  stalker_op22_cyclic_quest_wiki/resources/cycle_tasks/target.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/vendors_list.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

#4 API Поиск по предметам
  stalker_op22_cyclic_quest_wiki/views/api/items/__init__.py
  stalker_op22_cyclic_quest_wiki/views/api/items/search.py
  stalker_op22_cyclic_quest_wiki/views/api/urls.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

#4 API где нужен/где найти предмет
  stalker_op22_cyclic_quest_wiki/services/items/where_find.py
  stalker_op22_cyclic_quest_wiki/services/items/where_need.py
  stalker_op22_cyclic_quest_wiki/views/api/items/where_find.py
  stalker_op22_cyclic_quest_wiki/views/api/items/where_need.py
  stalker_op22_cyclic_quest_wiki/views/api/urls.py
  stalker_op22_cyclic_quest_wiki/views/items/where_find_item.py
  stalker_op22_cyclic_quest_wiki/views/items/where_item_needed.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

4 items search api (#63)
  stalker_op22_cyclic_quest_wiki/services/items/where_find.py
  stalker_op22_cyclic_quest_wiki/services/items/where_need.py
  stalker_op22_cyclic_quest_wiki/views/api/items/__init__.py
  stalker_op22_cyclic_quest_wiki/views/api/items/search.py
  stalker_op22_cyclic_quest_wiki/views/api/items/where_find.py
  stalker_op22_cyclic_quest_wiki/views/api/items/where_need.py
  stalker_op22_cyclic_quest_wiki/views/api/urls.py
  stalker_op22_cyclic_quest_wiki/views/items/where_find_item.py
  stalker_op22_cyclic_quest_wiki/views/items/where_item_needed.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

#61 Добавил корсы для разработки
  requirements.txt
  stalker_op22_cyclic_quest_wiki_proj/settings.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

#61 Добавил корсы для разработки (#64)
  requirements.txt
  stalker_op22_cyclic_quest_wiki_proj/settings.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

v0.6.0
  deploy/.env.template
  deploy/build.ps1
Due: none

v0.6.0 (#65)
  deploy/.env.template
  deploy/build.ps1
Due: none

#67 информация о случайных наградах + рефакторинг и использование переводов
  .pre-commit-config.yaml
  stalker_op22_cyclic_quest_wiki/services/base/condition.py
  stalker_op22_cyclic_quest_wiki/services/base/icon.py
  stalker_op22_cyclic_quest_wiki/services/base/map_point.py
  stalker_op22_cyclic_quest_wiki/services/base/translation.py
  stalker_op22_cyclic_quest_wiki/services/items/where_find.py
  stalker_op22_cyclic_quest_wiki/services/items/where_need.py
  stalker_op22_cyclic_quest_wiki/services/tasks/tasks_grouping.py
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/where_find.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/where_needed.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/vendor_quests_list/reward/ammo_reward.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/vendor_quests_list/reward/item_reward.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/vendor_quests_list/reward/random_reward.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/vendor_quests_list/target/ammo_target.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/vendor_quests_list/target/item_target.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/vendor_quests_list/target/item_with_state_target.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/vendor_quests_list/task.html
  stalker_op22_cyclic_quest_wiki/templates/wiki/vendor_quests_list/tasks_list.html
  stalker_op22_cyclic_quest_wiki/templatetags/condition.py
  stalker_op22_cyclic_quest_wiki/templatetags/map.py
  stalker_op22_cyclic_quest_wiki/templatetags/tasks.py
  stalker_op22_cyclic_quest_wiki/utils/__init__.py
  stalker_op22_cyclic_quest_wiki/views/api/cz.py
  stalker_op22_cyclic_quest_wiki/views/cyclic_quests/vendor_quests.py
Due: autoflake, pyupgrade, isort, black, djlint-reformat-django, flake8, mypy, pylint, djlint-django

#67 pylint
  .pre-commit-config.yaml
Due: none

#67 Показ случайных наград
  .pre-commit-config.yaml
  stalker_op22_cyclic_quest_wiki/services/items/where_find.py
  stalker_op22_cyclic_quest_wiki/templates/wiki/items/where_find.html
Due: autoflake, pyupgrade, isort, black, djlint-reformat-django, flake8, mypy, pylint, djlint-django

Тест всех страниц
  .ruff.toml
  stalker_op22_cyclic_quest_wiki/tests/test_views/__init__.py
  stalker_op22_cyclic_quest_wiki/tests/test_views/test_all_views.py
Due: autoflake, pyupgrade, isort, black, flake8, mypy, pylint

Перестройка CI
  .github/workflows/check_migrations.yml
  .github/workflows/django_test.yml
  .github/workflows/linters.yml
  .github/workflows/update.yml
Due: none

Правка CI
  .github/workflows/update.yml
Due: none

CI для релиза
  .github/workflows/tag.yml
Due: none

CI для релиза
  .dockerignore
  .github/workflows/tag.yml
Due: none
